.navbar-container{
    background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    text-decoration: none;
    margin: 5px 15px;
    font-size: larger;
    color: white;
}

.nav{
    margin-top: 10px;
}
